main {
    margin: 20px;

    .gradientes {
        div {
            margin: 12px 0;
        }

        p {
            padding: 20px 15px;
        }

        .radial {
            background: radial-gradient(ellipse 300px 200px, red, green, yellow);
            height: 300px;
        }

        .linearRight {
            background: linear-gradient(to right, blueviolet, orange, pink);
            height: 350px;
        }

        .linearTop {
            background-image: linear-gradient(to top, grey, black);
            height: 400px;
        }

        
}
}

h1 {
    text-align: center;
}