

nav {
    width: fit-content;
    .boton {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: 700;   
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        margin: 10px;
        box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
        &:nth-child(1){
            background-color: #ffa69e;
        }
        &:nth-child(2){
            background-color: #faf3dd;
        }
        &:nth-child(3){
            background-color: #b8f2e6;
        }
        &:nth-child(4){
            background-color: #aed9e0;
        }
        &:nth-child(5){
            background-color: #8b93a7;
        }
        &:nth-child(6){
            background-color: #bac8ea;
        }
    
    }
    
}